<div class="row">
  <div class="col-xl-3 col-md-6 mb-4" *ngFor="let card of dashboardCards">
    <app-dashboard-card
      [title]="card.title"
      [value]="card.value"
      [icon]="card.icon"
      [borderColor]="card.color"
      [textColor]="card.color">
    </app-dashboard-card>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-lg-6" *ngFor="let chart of chartSections">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{ chart.title }}</h6>
      </div>
      <div class="card-body">
        <div class="chart-area" style="width: 100%">
          <ng-container *ngComponentOutlet="chart.component"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="false">
    <app-bar-chart></app-bar-chart>
    <app-pie-chart></app-pie-chart>
  </ng-container>

</div>

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Salary Status</h6>
  </div>
  <div class="card-body">
    <app-salary-status
      [professors]="professors"
      [librarians]="librarians"
      [others]="others">
    </app-salary-status>

  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">University Survey</h6>
  </div>
  <div class="card-body">
    <app-line-chart></app-line-chart>

  </div>
</div>

