
// Layout base
app-layout {
  display: block;
  height: 100%;
  width: 100%;
}

.sidenav-container {
  height: 100vh;
}

// Sidebar
.sideNavOpened{
  width: 16.25rem;
  max-width: 16.25rem;


}
.sideNavCosed{
  width: 0;
  max-width: 0;
}
.sidenav {
  background-color: var(--sidenav-bg-color) !important;
  transition: width 0.3s ease !important;
  border-radius: 0 !important;

  .sidebar-header {
    padding: 16px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    gap: 8px;

    .brand-icon,
    .brand-title {
      color: var(--white);
    }

    .brand-icon {
      font-size: 1.875rem;
    }

    .brand-title {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .single-menu-item,
  .parent-menu-item {
    width: 94%;
    margin-left: 3%;
    border-radius: 4px !important;
    padding: 0 10px;
    // &:hover{
    //   background-color: var(--hover-dark);
    // }

    .parent-menu-item-inner-wrapper,
    .parent-menu-item-content {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
    }

    .mat-icon {
      margin-right: 10px;
      color: var(--icon-color);
    }

    .mdc-list-item__primary-text {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: var(--text-primary);
    }
  }

  .accordion-item {
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  .mat-list-item {
    border-radius: 6px;
    margin: 2px 8px;

    .mat-icon {
      margin-right: 12px;
    }
  }

  .submenu {
    width: calc(96% - 24px);
    margin-left: calc(3% + 12px);

    a {
      display: block;
      padding: 8px 16px;
      white-space: nowrap;
      color: var(--text-primary);
      border-radius: 4px !important;

      .mdc-list-item__primary-text {
        font-size: 0.9rem;
        color: var(--text-primary);
      }
    }
  }
}

.sidenav-menu-list {
  height: calc(100% - 80px);
  overflow: auto;
background-color: var(--sidenav-bg-color);
}

.toggle-sidebar,
.toggle-theme {
  margin-right: 10px;
  color: var(--text-primary);
  border: none;
  background: transparent;

  mat-icon {
    font-size: 27px;
  }

  &:hover {
    opacity: 0.7;
  }
}

// Main Content
.with-margin{
margin-left: 260px !important;
}
.no-margin{
  margin-left: 0 !important;
}
.main-content-wrapper {
  background: var(--app-bg);
  min-height: 100vh;
  transition: margin-left 0.3s ease;

  .main-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--sidenav-bg-color);

    .title {
      font-weight: 500;
      color: var(--text-primary);
    }

    .spacer {
      flex: 1 1 auto;
    }
  }

  .main-content {
    padding: 24px;
  }
}

// Search Box
.navbar-search {
  width: 25rem;
}
.navbar-search input{
  background-color: var(--input-bg-color) !important;
  border: 1px solid var(--input-border-color);
  &::placeholder{
    color:var(--placeholder-color)
  }
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}