app-layout {
  display: block;
  height: 100%;
  width: 100%;
}

.sidenav-container {
  height: 100vh;
}
.sidenav-menu-list{
  height: calc(100% - 80px);
  overflow: auto;
  background-color: #fff;
}

.sidenav {
  background-color: #f8f9fa;
  transition: width 0.3s ease;
  border-radius: 0 !important;
  max-width: 16.25rem;
  .sidebar-header {
    padding: 16px;
    background-color: #6a73fa;
    display: flex;
    align-items: center;
    gap: 8px;
     .brand-icon{
    color: #fff;
    font-size: 1.875rem;
    height: 1.875rem;
    width: 1.875rem;
  }
    .brand-title{
      margin: 0;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
    }
    
  }

  .single-menu-item,
  .parent-menu-item {
    .parent-menu-item-inner-wrapper,.parent-menu-item-content{
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      }
    .mat-icon {
      margin-right: 10px;
    }

    .mdc-list-item__primary-text {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: #737B8B;
    }
  }

  .accordion-item {
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  .mat-list-item {
    border-radius: 6px;
    margin: 2px 8px;

    .mat-icon {
      margin-right: 12px;
    }
  }

  .submenu {
    padding-left: 32px;

    a {
      padding: 8px 16px;
      display: block;
      white-space: nowrap;
      color: #737B8B;

      .mdc-list-item__primary-text {
        font-size: 0.9rem;
         color: #737B8B;
      }
    }
  }
}

.toggle-sidebar,.toggle-theme{
  margin-right: 10px;
  color: #737B8B;
  border: none;
  background-color: transparent;
  mat-icon{
    font-size: 27px;
  }
}

.toggle-sidebar:hover,.toggle-theme:hover{
  opacity: 0.7;
}
.main-content-wrapper {
  background: var(--app-bg, #f1f1f1);
  min-height: 100vh;
  transition: margin-left 0.3s ease;

  .main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  .title {
    font-weight: 500;
    color: #737B8B;
  }

  .spacer {
    flex: 1 1 auto;
  }

  }
  .main-content {
  padding: 24px;
}

}

// Dark Theme Support
.dark-theme {
  --app-bg: #121212;
  background-color: #121212;
  color: #f0f0f0;

  .sidenav {
    background-color: #1e1e1e;
  }

  .mat-list-item:hover {
    background-color: #2c2c2c;
  }
}
.navbar-search {
    width: 25rem;
}
.input-group .btn {
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}