
// .table-header-cell{
//     font-weight: 500;
//     color:#312a2a !important;

// }
// .table-data-cell{
//     color: #888888 !important;
// }

// .light-table {
//   background-color: white;
//   color: black;

//   .table-header-cell {
//     background-color: #f8f9fa;
//   }
// }

.dark-table {
  background-color: #1e1e2f;
  color: white;

  .table-header-cell {
    background-color: #2c2c3a;
  }

  .table-data-cell {
    border-color: #444;
  }
}
