<div class="card p-4 mt-4 shadow radius">
  <h3 class="mb-3 text-center">Add Fee Record</h3>

  <form [formGroup]="feeForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      
      <!-- Student Name -->
      <div class="col-md-6">
        <label class="form-label">Student Name</label>
        <input type="text" class="form-control" formControlName="studentName" placeholder="Enter student name">
        <div class="text-danger" *ngIf="feeForm.get('studentName')?.touched && feeForm.get('studentName')?.invalid">
          Student Name is required
        </div>
      </div>

      <!-- Department -->
      <div class="col-md-6">
        
        <app-custom-select
        label="Department"
        [options]="departments"
        placeholder="-- Select Department --"
        [(selectedValue)]="chosenCategory">
      </app-custom-select>
      <div class="text-danger" *ngIf="feeForm.get('department')?.touched && feeForm.get('department')?.invalid">
          Department is required
        </div>
      </div>

      <!-- Fee Type -->
      <div class="col-md-6">
        <app-custom-select
        label="Fee Type"
        [options]="feeTypes"
        placeholder="-- Select Fee Type --"
        [(selectedValue)]="chosenCategory">
      </app-custom-select>
        <div class="text-danger" *ngIf="feeForm.get('feeType')?.touched && feeForm.get('feeType')?.invalid">
          Fee Type is required
        </div>
      </div>

      <!-- Amount -->
      <div class="col-md-6">
        <label class="form-label">Amount (₹)</label>
        <input type="number" class="form-control" formControlName="amount" placeholder="Enter fee amount">
        <div class="text-danger" *ngIf="feeForm.get('amount')?.touched && feeForm.get('amount')?.invalid">
          Amount should be at least ₹100
        </div>
      </div>

      <!-- Due Date -->
      <div class="col-md-6">
        <label class="form-label">Due Date</label>
        <input type="date" class="form-control" formControlName="dueDate">
        <div class="text-danger" *ngIf="feeForm.get('dueDate')?.touched && feeForm.get('dueDate')?.invalid">
          Due Date is required
        </div>
      </div>

      <!-- Status -->
      <div class="col-md-6">
        <label class="form-label">Status</label>
        <select class="form-select" formControlName="status">
          <option value="Pending">Pending</option>
          <option value="Paid">Paid</option>
          <option value="Overdue">Overdue</option>
        </select>
      </div>

    </div>

    




    <!-- Submit -->
    <div class="mt-4">
      <button type="submit" class="btn btn-primary w-100" [disabled]="feeForm.invalid">
        Add Fee Record
      </button>
    </div>
  </form>
</div>






