// VARIABLES
$font-family: Roboto, "Helvetica Neue", sans-serif;
$border-radius: 0.35rem;
$scrollbar-bg: #F5F5F5;
$scrollbar-thumb: #A0A0A0;
$scrollbar-thumb-hover: #555555;
$gray: (
  100: #f8f9fc,
  200: #eaecf4,
  300: #dddfeb,
  400: #d1d3e2,
  500: #b7b9cc,
  600: #858796,
  700: #6e707e,
  800: #5a5c69,
  900: #3a3b45,
);
$colors: (
  primary: #4e73df,
  secondary: #858796,
  success: #1cc88a,
  info: #36b9cc,
  warning: #f6c23e,
  danger: #e74a3b,
  light: map-get($gray, 100),
  dark: map-get($gray, 800),
);

// GLOBAL
html, body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
}
p, h1, h2, h3, h4, h5, h6, span, li, div, td, th {
  font-family: inherit;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 6px;
  background-color: $scrollbar-bg;
}
::-webkit-scrollbar-track {
  background-color: $scrollbar-bg;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: $scrollbar-thumb-hover;
  }
}

// GRADIENT BACKGROUNDS
@each $name, $color in $colors {
  .bg-gradient-#{$name} {
    background-color: $color;
    background-image: linear-gradient(180deg, $color 10%, darken($color, 15%) 100%);
    background-size: cover;
  }
}

// GRAY BACKGROUNDS AND TEXT
@each $i, $val in $gray {
  .bg-gray-#{$i} { background-color: $val !important; }
  .text-gray-#{$i} { color: $val !important; }
}

// TEXT SIZES
.text-xs { font-size: 0.7rem; }
.text-lg { font-size: 1.2rem; }

// UTILITY
.o-hidden { overflow: hidden !important; }

.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// BORDERS
@each $name, $color in $colors {
  .border-left-#{$name} {
    border-left: 0.25rem solid $color !important;
  }
  .border-bottom-#{$name} {
    border-bottom: 0.25rem solid $color !important;
  }
}

// CARD COMPONENTS
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: $border-radius;

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  .card-title {
    margin-bottom: 0.75rem;
  }

  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }

  .card-text:last-child {
    margin-bottom: 0;
  }

  .card-link {
    &:hover {
      text-decoration: none;
    }
    & + .card-link {
      margin-left: 1.25rem;
    }
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: map-get($gray, 100);
    border-bottom: 1px solid #e3e6f0;

    &:first-child {
      border-radius: calc(#{$border-radius} - 1px) calc(#{$border-radius} - 1px) 0 0;
    }

    &-tabs {
      margin-right: -0.625rem;
      margin-bottom: -0.75rem;
      margin-left: -0.625rem;
      border-bottom: 0;
    }

    &-pills {
      margin-right: -0.625rem;
      margin-left: -0.625rem;
    }
  }

  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: map-get($gray, 100);
    border-top: 1px solid #e3e6f0;

    &:last-child {
      border-radius: 0 0 calc(#{$border-radius} - 1px) calc(#{$border-radius} - 1px);
    }
  }

  .card-img-overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 1.25rem;
    border-radius: calc(#{$border-radius} - 1px);
  }

  .card-img,
  .card-img-top,
  .card-img-bottom {
    flex-shrink: 0;
    width: 100%;
  }

  .card-img,
  .card-img-top {
    border-top-left-radius: calc(#{$border-radius} - 1px);
    border-top-right-radius: calc(#{$border-radius} - 1px);
  }

  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(#{$border-radius} - 1px);
    border-bottom-left-radius: calc(#{$border-radius} - 1px);
  }
}

// CARD DECK & GROUP
.card-deck, .card-group {
  > .card {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;

    .card {
      flex: 1 0 0%;
      margin: 0 0.75rem 0.75rem;
    }
  }

  .card-group {
    display: flex;
    flex-flow: row wrap;

    > .card {
      flex: 1 0 0%;
      margin-bottom: 0;

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .card-img-top, .card-header {
          border-top-right-radius: 0;
        }

        .card-img-bottom, .card-footer {
          border-bottom-right-radius: 0;
        }
      }

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .card-img-top, .card-header {
          border-top-left-radius: 0;
        }

        .card-img-bottom, .card-footer {
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

// CARD COLUMNS
.card-columns {
  .card {
    margin-bottom: 0.75rem;
  }

  @media (min-width: 576px) {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block;
      width: 100%;
    }
  }
}
