<div class="page-wrapper">
  <app-breadcrumb [pageTitle]="pageTitle" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

  <div class="card p-4 mt-4 radius">

<!-- Use your header component -->
<app-table-header
  [(searchTerm)]="searchTerm"
  [pageSizeOptions]="pageSizeOptions"
  [(pageSize)]="pageSize"
  (pageSizeChange)="onPageSizeChange()"
  (searchChange)="onSearchChange()"
  [routeurl]="addprofessorulr"
></app-table-header>

    <!-- Table -->
     <div class="table-responsive">
      <table class="table">
      <thead>
        <tr>
          <th class="table-header-cell">Profile</th>
          <th class="table-header-cell">Name</th>
          <th class="table-header-cell">Department</th>
          <th class="table-header-cell">Gender</th>
          <th class="table-header-cell">Education</th>
          <th class="table-header-cell">Mobile</th>
          <th class="table-header-cell">Email</th>
          <th class="table-header-cell">Joining Date</th>
          <th class="table-header-cell">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of paginatedProfessors">
          <td class="table-data-cell">
            <img
              [src]="prof.profile"
              alt="profile"
              class="rounded-circle"
              width="40"
              height="40"
            />
          </td>
          <td class="table-data-cell">{{ prof.name }}</td>
          <td class="table-data-cell">{{ prof.department }}</td>
          <td class="table-data-cell">{{ prof.gender }}</td>
          <td class="table-data-cell">{{ prof.education }}</td>
          <td class="table-data-cell">{{ prof.mobile }}</td>
          <td class="table-data-cell">{{ prof.email }}</td>
          <td class="table-data-cell">{{ prof.joiningDate }}</td>
          <td class="table-data-cell">
            <div class="d-flex">
               <button class="btn btn-sm btn-primary iconbtn me-2" (click)="goToAddPage()">
              <i class="material-icons" >edit</i>
            </button>
            <button class="btn btn-sm btn-danger iconbtn ">
              <i class="material-icons" (click)="confirmDelete(prof)">delete</i>
            </button>
            </div>
           
          </td>
        </tr>
      </tbody>
    </table>
     </div>
    

   
<app-table-footer
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [totalItems]="filteredProfessors.length"
  [totalPages]="totalPages"
  (pageChange)="changePage($event)"
></app-table-footer>

  </div>
</div>
