


.custom-date::-webkit-calendar-picker-indicator {
  opacity: 0; /* Hide default icon */
  cursor: pointer;
}

.custom-date-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa; /* Light color by default */
}

/* Dark theme override */
body.dark-theme .custom-date-icon {
  color: #f0f0f0; /* Light icon on dark bg */
}
